<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin http://26.164.100.119:3000
  Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT, PATCH"
  Header always set Access-Control-Allow-Headers "Content-Type, X-Auth-Token, Origin, Authorization"
  Header always set Access-Control-Allow-Credentials "true"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} OPTIONS
  RewriteRule ^(.*)$ $1 [R=200,L,E=HTTP_ORIGIN:%{HTTP:ORIGIN}]]
</IfModule>